html {
    overflow-x: hidden;
}
* {
    box-sizing: border-box;
}
@font-face {
    font-family: GeneralSans;
    src: url(/ttf/GeneralSans-Variable.ttf) format('truetype');
}

@media (max-width: 425px) {
    
}

/* navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: fixed; when applied, navbar size shrinks*/
    /* padding: 18px, 120px; */
    background-color: #fff;
    border-bottom: 2px solid #0000002d;
    height: 8vw;
}

.nav_logo{
    max-width: 10%;
    height: auto;
}

.nav_links_container {
    display: flex;
}

.nav_links_container a {
    margin: 0 15px;
    text-decoration: none;
    color: #000;
    font-size: 1vw;
    font-weight: 450;
    font-family: GeneralSans;
}

.nav_cta {
    width: auto;
    border-radius: 64px;
    background-color: #3461FF;
    color: #fff;
    font-family: GeneralSans;
    font-size: 1vw;
    padding: 1em 2em 1em 2em;
    text-decoration: none;
    font-weight: 500;
}

/* hero */
.hero{
    padding: 5vw 5vw 5vw 5vw;
    /* margin: 120px 120px 70px 70px; */
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    float: unset;
}

.hero_column{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding: 0 20px;
}

.hero_text_main {
    font-size: 4.5vw;
    font-family: GeneralSans;
    font-weight: 650;
    color: #000;
    margin-bottom: 10px;
}

.hero_desc{
    font-size: 1.2vw;
    color: #00000042;
    font-family: GeneralSans;
}

.hero_form{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    padding: 1vw 1vw 1vw 0vw;

}

.hero_email{
    width: 40%;
    height: auto;
    border-radius: 70px;
    border: 1px solid #00000020;
    border-color: #0000002e;
    font-family: GeneralSans;
    color: #00000052;
    font-size: 1.2vw;
    background-color: #FAFAFA;
    padding-left: 1vw;
}

.hero_submit{
    max-width: 30%;
    height: 3.4em;
    border-radius: 70px;
    border: 0 solid #3461FF;
    background-color: #3461FF;
    font-family: GeneralSans;
    font-size: 1.2vw;
    color: #fff;
}

.hero_img{
    max-width: 36%;
    height: auto;
    margin: 0 20px;
}


/* Partners */
.companies{
    /* padding-bottom: 70px; */
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
}

.companies_text{
    font-size: 2vw;
    font-family: GeneralSans;
    color: #000;
    padding-top: 3vw;
}

.logo_row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vw 5vw 10vw 10vw;
}

.logo_row>* {
    max-width: 10%;
    display: block;
}

.partner_logo1{
    margin-left: 1vw;
    margin-right: 1vw;
    height: auto;
}

.partner_logo{
    margin-left: 1vw;
    margin-right: 1vw;
    height: auto;
}

/* Commitments */
.commitments{
    /* flex-wrap: wrap; */
    padding: 5vw 5vw 0vw 5vw;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.stats{
    display: flex;
    flex-direction: row;
}

.stats_column{
    padding: 4vw 5vw 4vw 5vw;
}

.stats_counter{
    font-size: 3.7vw;
    font-family: GeneralSans;
    font-weight: bold;
    margin: 0 0 0 0;
}

.stats_desc{
    font-size: 1vw;
    font-family: GeneralSans;
    color: #00000052;
}

.commitments_desc{
    padding: 4vw 0 4vw 0;

}

.section_text{
    font-size: 4vw;
    font-family: GeneralSans;
    color: #000;
    padding-bottom: 5px;
    font-weight: 500;
    margin: 0 0 0 0;
}

.section_desc{
    font-size: 1.2vw;
    font-family: GeneralSans;
    color: #00000052;
}

.link_arrow{
    font-size: 1.2vw;
    color: #3461FF;
    font-family: GeneralSans;
    font-weight: 500;
    text-decoration: none;
}


/* How it works */

.how_it_works{
    padding: 5vw 1vw 5vw 10vw;
    justify-content: space-between;
    align-items: center;
    display: flex;
    /* flex-wrap: nowrap; */
    flex-direction: row;
}

.hiw_column1{
    margin-right: 50px;
}

.hiw_img{
    max-width: 53%;
    height: auto;
}

.hiw_column2{
    margin-right: 9vw;
}

.hiw_ico_row{
    display: flex;
    flex-direction: row;
    padding-bottom: 3vw;
}

.hiw_ico{
    max-width: 17%;
    height: 17%;
}

.hiw_ico_desc{
    padding-left: 32px;
}

.hiw_ico_h1{
    font-size: 2.4vw;
    font-family: GeneralSans;
    font-weight: 500;
    margin: 0 0 0 0;
}

.hiw_ico_h2{
    font-size: 1.2vw;
    font-family: GeneralSans;
    color: #00000052;
}

/* Our work */

.our_work{
    padding: 0vw 5vw 5vw 5vw;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.ow_row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* THIS IS THE ROW WITH IMAGES */
.ow_imgs{
    max-width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2vw;
}
/* THIS IS THE IMAGES ITSELF */
.ow_img{
    max-width: 90%;
    height: auto;
    width: 100%;
    padding: 0 0 1vw;
}

.ow_img_desc{
    font-size: 2vw;
    font-family: GeneralSans;
    font-weight: 500;
}

.link_rounded{
    width: auto;
    border-radius: 64px;
    background-color: #3461FF;
    color: #fff;
    font-family: GeneralSans;
    font-size: 1vw;
    padding: 1em 2em 1em 2em;
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
}

/* CTA */
.cta_banner{
    padding: 5vw 5vw 5vw 5vw;
    justify-content: space-between;
    align-items: center;
}

.cta_body{
    border-radius: 3vw;
    background-color: #3561ff;
}

.cta_row{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 0;
    margin-right: 5vw;
}

.cta_h{
    font-size: 4vw;
    font-family: GeneralSans;
    font-weight: 500;
    padding-left: 6vw;
    padding-top: 4vw;
    padding-bottom: 4vw;
    color: #fff;
}

.cta_column{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.cta_desc{
    font-size: 1.2vw;
    font-family: GeneralSans;
    color: #fff;
    margin-top: 0;
}

.cta_button{
    width: auto;
    border-radius: 64px;
    background-color: #FFFFFF;
    color: #000;
    font-family: GeneralSans;
    font-size: 1vw;
    padding: 1em 2em 1em 2em;
    text-decoration: none;
    font-weight: 500;
}

/* Our team */

.ourteam{
    padding: 5vw 5vw 5vw 5vw;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
}

.ot_img{
    max-width: 50%;
    height: auto;
}

.ot_column{
    margin-top: 0;
    padding-left: 10vw;
    padding-right: 0vw;
}

.link_team_container{
    padding-top: 6vw;
}

/* Testimonial */
.testimonial{
    padding: 5vw 5vw 5vw 5vw;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.tst_scrollbar{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    padding-bottom: 20px;
}

.tst_button{
    max-width: 5vw;
    height: auto;
    padding-right: 1vw;
}

.tst_scroller{
    padding-left: 11vw;
}

/* CTA banner 2 */

.cta_banner2{
    padding: 5vw 5vw 5vw 5vw;
    justify-content: space-between;
    align-items: center;
}

.cta2_body{
    border-radius: 3vw;
    background-color: #232038;
}
/* not working */
.cta2_button_container{ 
    padding-left: 6vw;
    padding-bottom: 5vw;
}


/* Help */
.help{
    padding: 5vw 5vw 5vw 5vw;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.help_column1{
    padding-right: 120px;;
}

.help_column2{
    padding-right: 0vw;
}

.help_text{
    font-size: 2.7vw;
    font-family: GeneralSans;
    font-weight: 500;
}

.help_desc{
    font-size: 1.2vw;
    font-family: GeneralSans;
    font-weight: 500;
    color: #00000052;
}

footer{
    background-color: #000;
    padding-left: 5vw;
    padding-right: 5vw;
    justify-content: space-between;
    display: flex;
}


.footer_row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer_text{
    font-size: 1vw;
    font-family: GeneralSans;
    color: #fff;
}

.footer_subrow {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    padding-left: 46vw;
}

.footer_subrow a{
    padding-right: 4vw;
}


