@font-face {
    font-family: Helvetica;
    src: url(/crypto/ttf/Helvetica.ttf);
    font-weight: normal;
}

@font-face{
    font-family: Helevetica_light;
    src: url(/crypto/ttf/helvetica-light-587ebe5a59211.ttf);
    font-weight: lighter;
}

@font-face{
    font-family: Helvetica_bold;
    src: url(/crypto/ttf/Helvetica-Bold.ttf);
    font-weight: bold;
}

/* Top nav bar with info */
.overnav{
    display: flex;
    flex-direction: row;
    padding-top: 0.4vw;
    padding-bottom: 0.4vw;
    padding-left: 1vw;
    padding-right: 1vw;
    border-bottom: #EFF2F5 0.1vw solid;
}

.overnav_stats{
    display: flex;
    flex-direction: row;
}

.overnav_stats_name{
    font-family: Helvetica;
    font-size: 0.7vw;
    color: #616E85;
}

.overnav_stats_counter{
    font-family: Helvetica;
    font-size: 0.7vw;
    color: #3861FB;
    text-decoration: none;
    padding-right: 0.3vw;
}

.overnav_stat_ico{
    max-width: 0.7vw;
    height: auto;
    color: #616E85;
    padding-left: 0.2vw;
}

.overnav_stats_arrow_counter_negative{
    max-width: 0.7vw;
    height: auto;
    fill: #EA3943;
    padding-right: 0.1vw;
}

.overnav_stats_negative{
    font-family: Helvetica;
    font-size: 0.7vw;
    color: #EA3943;
    padding-right: 0.3vw;
}

.overnav_stats_arrow_counter_positive{
    max-width: 0.7vw;
    height: auto;
    fill: #16c784;
    padding-right: 0.1vw;
}

.overnav_stats_positive{
    font-family: Helvetica;
    font-size: 0.7vw;
    color: #16c784;
    padding-right: 0.3vw;
}

.overnav_settings{
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

.overnav_settings_button{
    font-family: Helvetica_bold;
    font-size: 1.2vh;
    border: none;
    background-color: white;
    /* max-height: 0.2vw; */
    border-radius: 0.5vw;
    border: none;
}

.overnav_settings_button:hover{
    background-color: #EFF2F5;
}

.setting_arrow{
    max-width: 0.7vw;
    height: auto;
    fill: #616E85;
}

.overnav_separator{
    max-width: 0.05vh;
    height: auto;
    background-color: #EFF2F5;
    border: #EFF2F5 0.05vw solid;
    margin-left: 0.2vw;
    margin-right: 0.5vw;
}

.overnav_auth_links{
    height: auto;
    display: flex;
    flex-direction: row;
}

.overnav_auth_btn{
    font-family: Helvetica_bold;
    font-size: 1.2vh;
    margin-right: 0.5vw;
    border: none;
    background-color: #EFF2F5;
    border-radius: 0.5vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

.overnav_auth_logon{
    font-family: Helvetica_bold;
    font-size: 1.2vh;
    margin-right: 0.5vw;
    border: 0.1vw solid #3861FB;
    background-color: white;
    color: #3861FB;
    border-radius: 0.5vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

.overnav_auth_sign{
    font-family: Helvetica_bold;
    font-size: 1.2vh;
    border: none;
    background-color: #3861FB;
    color: white;
    border-radius: 0.5vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

